<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @project.country %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @project.website %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @project.image unless @project.image.nil? %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @project.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @project.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @project.phonenumber %>
</p>

<%= link_to 'Edit', edit_project_path(@project) if current_user && @project.user.id == current_user.id %> |
<%= link_to 'Back', projects_path %>
